
.Post {
    margin: auto;
    max-width: 850px;
}

.Post .Fixed {
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 23px;
}

.Post .lander {
    text-align: center;
    padding: 80px 20px 0px 20px;
}

.Post .editor {
    text-align: center;
    height: 500px;
    overflow: scroll;
}

.Post .lander label {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    display:block;
}

.Post .lander p {
    color: #999;
}

.Post .lander input {
    display: inline-block;
}





